.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 3rem;
}

@media screen and (max-width: 768px) {
	.navbar {
		padding: 0.8rem;
	}
}

@media (prefers-color-scheme: light) {
	.navbarLogo {
		filter: invert(1);
	}
}