.out {
    margin: 4rem 0;
}

@media screen and (max-width: 768px) {
    .out {
        margin-top: 3rem;
    }
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
}

.link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

@media screen and (max-width: 768px) {
    .columns {
        flex-direction: column;
        margin: 2rem;
    }

    .column {
        width: 100%;
        margin: 2rem 0;
    }
}
